ALTER TABLE agreements ADD COLUMN IF NOT EXISTS address TEXT;
ALTER TABLE agreements ADD COLUMN IF NOT EXISTS gst_number TEXT;
ALTER TABLE agreements ADD COLUMN IF NOT EXISTS selected_plan TEXT;
ALTER TABLE agreements ADD COLUMN IF NOT EXISTS agreement_date DATE;
